<script>
/*
=================================================

Schedule Prettyfier
Tai Rodrig
April 2014

THIS PAGE DISPLAYS THE FORM

=================================================
*/
</script>

<form method='post' action='/calendar/view'>
<textarea name='system[entry]' style='width:500px;height:250px;'>
Enter a schedule in the following format:

Event Name 1, MWF, 10:00AM - 3:45PM
Event Name 2, TR, 8:00AM - 10:00AM
Event Name 3, S, 6:00PM - 8:00PM

Click submit to draw the calendar!
</textarea>
<br/>
<input type='submit' value='Submit'>
</form>