<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/js/draw_board.js"></script>
<script src="/js/kinetic.js"></script>

<html>
<head><title><%= title %></title>
<link href="/css/challenge.css" rel="stylesheet" type="text/css">
</head>
<body>
</br>
</br>
<div align = 'center' id = 'container' > </div>
<div align='center' class = 'content'>
<div id = "controls" align = "center">
		<form id = "input">
			</br>
			<label for ="dx"> dx = </label>
			<input id = "dx" type = "text" class = "equation" value = "1">
			</br>
			<label for ="dy"> dy = </label>
			<input id = "dy" type = "text" class = "equation" value = "0">
			</br>
			</br>
			<input type="submit" value= "Draw" id ="draw">
		</form>
</div>
</div>
<script type="text/javascript">

	//get the data
	var json = <%- JSON.stringify(game) %>;
	balls = json.balls;
	board = json.board;
	goal = json.goal;
	obstacles = json.obstacles;
	drawing = false;
	//console.log(json);


$(document).ready(function(){

	var stage = new Kinetic.Stage({
		container: 'container',
		width: 600,
		height: 450
	});

	var layer = new Kinetic.Layer({
		width: stage.width(),
		height: stage.height()
	});
	var balllayer = new Kinetic.Layer({
		width: stage.width(),
		height: stage.height()
	});

	drawBackground(layer, board);
	var circs = drawBalls(balllayer, balls, board, "#FF0000");
	//console.log(circs);
	drawRect(layer, goal, board, "#00FF00");
	drawObstacles(layer,obstacles,board,"#882200");
	


	//alert(JSON.stringify(json, null, 4));
  	$('#draw').click(function(e){
  		e.preventDefault();
  		if (!drawing){
  			drawing = true;
	    	var dx = new Function('x','y', 'return '+document.getElementById("dx").value+';');
	      	var dy = new Function('x','y', 'return '+document.getElementById("dy").value+';');
	      	var equation = {'dx': dx, 'dy': dy};

	    	var anim = new Kinetic.Animation(
	    		function(frame) {
	    			var bz = balllayer.getChildren();
	    			var done = bz.length;
	    			balllayer.draw();
					for (var i = 0; i < balls.length; i++)
					{

						var newX = balls[i].x + 0.05*dx(balls[i].x,balls[i].y);
						var newY = balls[i].y + 0.05*dy(balls[i].x,balls[i].y);

						if (inRect({x:newX,y:newY},board)){
							balls[i].x = newX;
							balls[i].y = newY;
							bz[i].x((balls[i].x-board.x)/board.width*balllayer.width());
							bz[i].y(balllayer.height()*(1-((balls[i].y-board.y)/board.height)));
						}else{
							done--;
							console.log("done drawing");
						}
		    		}
		    		if (done==0) {
		    			drawing = false;
		    			this.stop();
		    		}
		  		}
		  	, balllayer);
	        anim.start();
	    }

	});
	// add the layers to the stage
	stage.add(layer);
	stage.add(balllayer);

  });


	

</script>
</body>

</html>
