<script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/js/draw_board.js"></script>
<script src="http://charlie-roberts.com/gibberish/scripts/build/gibberish_2.0.js"></script>

<html>
<head><title><%= title %></title>
<link href="/css/challenge.css" rel="stylesheet" type="text/css">
</head>
<body>
<div align='center' class = 'content'>
<div align='center' class = "canvas">
	<br/>
</div>
<div id = "controls" align = "center">
		<form id = "input">
			</br>
			<label for ="dx"> dx = </label>
			<input id = "dx" type = "text" class = "equation" value = "1">
			</br>
			<label for ="dy"> dy = </label>
			<input id = "dy" type = "text" class = "equation" value = "0">
			</br>
			</br>
			<input type="submit" value= "Draw" id ="draw">
		</form>
</div>
</div>
<footer class="footer">
	Tai Rodrig --- CCS CS130E --- April 2014
</footer>
<script type="text/javascript">

	//get the data
	var json = <%- JSON.stringify(game) %>;
	balls = json.balls;
	board = json.board;
	goal = json.goal;
	obstacles = json.obstacles;
	console.log(json);


$(document).ready(function(){
	//set up gibber
	Gibberish.init();
	Gibberish.Time.export();
	Gibberish.Binops.export();
	a = new Gibberish.Saw3();



	//dynamically create the canvas
	var canvas = document.createElement('canvas');
	canvas.id     = 'canvas';
	canvas.width  = frame.width;
	canvas.height = frame.height;
	canvas.style.border   = "1px solid";
	$('.canvas').append(canvas);


	drawBackground('canvas', board);
	drawBalls('canvas', balls, board);
	drawRect('canvas', goal, board, "#00FF00");
	//alert(JSON.stringify(obstacles, null, 4));
	//alert("num obstacles = "+obstacles.length);
	drawObstacles('canvas',obstacles,board,"#882200");


	//alert(JSON.stringify(json, null, 4));
  	$('#draw').click(function(e){
  		e.preventDefault();
  		drawBackground('canvas', board);
		drawBalls('canvas',balls, board);
		drawRect('canvas',goal, board,"#00FF00");
		drawObstacles('canvas',obstacles,board,"#882200");
  		//alert("click");
    	//drawBackground('canvas', board);
		//drawGoal(goal, board);

    	var dx = new Function('x','y', 'return '+document.getElementById("dx").value+';');
      	var dy = new Function('x','y', 'return '+document.getElementById("dy").value+';');
      	var equation = {'dx': dx, 'dy': dy};

    	//alert("ball = "+JSON.stringify(ball, null, 4));
    	//alert("board = "+JSON.stringify(board, null, 4));
    	//alert("equation = "+equation);

    	drawBallsPath('canvas', balls, goal, obstacles, board, equation);
	})
  });

</script>
</body>

</html>
