<script>
/*
=================================================

Phase Ball
Tai Rodrig
April 2014

THIS PAGE DISPLAYS THE CHALLENGE

=================================================
*/
</script>

<html>
<head><title><%= title %></title>
<link href="/css/schedule.css" rel="stylesheet" type="text/css">
<script src="/js/draw_sched.js"></script>
</head>
<body>
<div align='center' class = "content">
	<br/>
	<canvas id="canvas" width="750" height = "530"></canvas>
</div>
<footer class="footer">
	Tai Rodrig --- CCS CS130E --- April 2014
</footer>
<script type="text/javascript">

//get the data
var json = <%- JSON.stringify(test) %>;
alert(JSON.stringify(json, null, 4));

</script>
</body>

</html>
