<script type="text/javascript">
/*
=================================================

Schedule Prettifier
Tai Rodrig
April 2014

THIS PAGE DISPLAYS THE FORM

=================================================
*/
</script>
<title>Schedule Prettifier</title>
<link href="/css/schedule.css" rel="stylesheet" type="text/css">
<div align='center' class = "content">
</br>
<h1>
	SCHEDULE PRETTIFIER
</h1>
</br>
<form method='post' action='/schedule/view'>
<textarea name='system[entry]'>
Enter a schedule in the following format:

Art Class, R, 5:30PM - 9:00PM
Surfing, TRFS, 7:30AM - 11:00AM
Work, MW, 12:00PM - 8:00PM
Tarot Club, F, 12:00PM - 2:30PM
Juggling Club, TR, 3:00PM - 5:00PM
Brunch, U, 11:00AM - 3:00PM

Click the button to draw the calendar!
</textarea>
<br/>
<br/>
<input type='submit' value='Prettify My Schedule'>
</form>
</div>

<footer class="footer">
	Tai Rodrig --- CCS CS130E --- April 2014
</footer>