<!DOCTYPE html>
<html lang = "en">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<head>
	<title>Info Page</title>
	<!-- Bootstrap CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet" type = "text/css">
	<link href="/css/info.css" rel="stylesheet" type="text/css">
</head>
<body>
		<h1>differential equations and their vector fields</h1>
	</br></br>
	<div class = "container">
		<div class = "row">
			<div class = "col-sm-8">
				<p>every point in the plane has a location. </p><p>let's call this location (x,y).</p>
			</div>
		<div class = "col-sm-4">
				<img src = "grid1.png" width = "200" height = "200">
			</div>
		</div>
	</br>
		<div>

			<div class = "row">
			<div class = "col-sm-8">
				the differential equation tells us where this point wants to move to:
				<ol>
					if dy = 0 and
					<li>dx = 1, the point wants to move towards the right at a speed of 1</li>
					<li>dx = -2, the point wants to move towards the left at a speed of 2</li>
					if dx = 0 and
					<li>dy = 1, the point wants to move upwards at a speed of 1</li>
					<li>dy = -3, the point wants to move downwards at a speed of 3</li>
				</ol>

			</div>
		<div class = "col-sm-4">
				<img src = "grid2.png" width = "200" height = "200">
			</div>
		<div>
</div>
</div>
</body>
</html>