doctype html
html(lang='en')
  head
    title #{title}
    link(rel="stylesheet", href="../public/css/style.css")
  body
    header
      h1 SCHEDULE
    .container
      .main-content
        block content
  footer
    p end schedule
