<html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<head><title><%= title %></title>
<style type="text/css">
     canvas { border: 1px solid black; }
</style>
</head>
<body>
<canvas id="schedule" width="700" height = "480"></canvas>
<script type="text/javascript">
//alert("b");
//draw_block(0,4,6,"#00FFFF");
//alert("a");
var json = <%- JSON.stringify(commitments) %>;
//alert("number of commitments = "+json.length);
canvas = document.getElementById('schedule');
ctx = canvas.getContext('2d');
for (var i=0; i< '<%- commitments.length %>'; i++){ 
//alert(i);
var c = json[i];//<%- commitments %>[i];
//alert("commitment #"+i+" is "+c);
//alert("c.days = "+c.days);
//alert("c.times = "+c.times);
var color = (Math.random()*0xFFFFFF<<0).toString(16); //random color
	 for (var j=0;j<c.days.length;j++){ 
	 	ctx.beginPath();
		ctx.fillStyle = color;
		ctx.lineWidth="2";
		ctx.strokeStyle="black";
		ctx.rect(c.days[j]*100,c.times[0]*480,100,(c.times[1]-c.times[0])*480);
		ctx.fill();
		ctx.stroke();
		ctx.fillStyle = "white"
		ctx.font="18px Georgia";
		ctx.fillText(c.eventname,c.days[j]*100+10,c.times[0]*480+30);
	}
}

</script>
</body>
</html>