	/* make footer stick to bottom of page */
	* {
	  margin: 0;
	  font-family: Georgia;
	}
	html, body {
	  height: 100%;
	  background: #FFF0B2;
	}
	.content {
	  min-height: 100%;
	  /* equal to footer height */
	  margin-bottom: -50px; 
	}
	textarea{
		width: 500px;
		height: 250px;
		font-size: 14;
	}
	.content:after {
	  content: "";
	  display: block;
	}
	.footer, .content:after {
	  /* .push must be the same height as footer */
	  height: 50px; 
	}
	.footer {
	  text-align: center;
	  background: #3A60A6;
	  color: #FFFFFF;
	  font-size: 15;
	}
	canvas { border: 1px solid black; }